<h3>Inscription d'un Candidat </h3>
<div style="width: 400px;">
  <form (ngSubmit)="save()">
    <div class="form-group">
        <label for="name">dateReunion</label>
        <input type="date" class="form-control" id="dateReunion" required [(ngModel)]="reunion.dateReunion" name="dateReunion">
    </div>

    <div class="form-group">
        <label for="name">tblMembreId</label>
        <input type="text" class="form-control" id="tblMembreId" required [(ngModel)]="reunion.tblMembreId" name="tblMembreId">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>


