<div class="container">
  <div class="row">
    <div class="input-group col-md-12" style="text-align: center">
       <input type="text" class="search-query form-control" placeholder="Search With first name"  name="email" [(ngModel)]="fname"/>
       <span class="input-group-btn">
       <button class="btn btn-danger" type="button" (click)="findUserByFname()">
       <span class=" glyphicon glyphicon-search"></span>
       </button>
     </span>
    </div>                        
  </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Users List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>fname</th>
            <th>lname</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            <button  (click)="updateEmployee(user.id)"  class="btn btn-info" style="margin-left: 10px">Update</button>
          </tr>
        </tbody>
      </table>
    </div>
</div>