<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Beneficiaire List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>dateReunion  </th> 
            <th> tblMembreId  </th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reunion of reunions | async">
            <td>{{reunion.dateReunion}}</td>  
            <td>{{reunion.tblMembreId}}</td>  
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteReunions(reunion.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
          <tr *ngFor="let membre of membres | async">           
            <td class="text-center"><button class="btn btn-primary btn-xs" (click)="open(membre.id)"> Consulter Membre</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- 
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Beneficiaire List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
              <th>prenom</th>
              <th>nom </th>
              <th>dateNais</th> 
              <th>mobile </th>
              <th>email </th>
              <th>addresse</th>
              <th>cin </th>        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let membre of membres | async">
            <td>{{membre.prenom}}</td>  
            <td>{{membre.nom}}</td>  
            <td>{{membre.dateNais}}</td>  
            <td>{{membre.mobile}}</td>  
            <td>{{membre.email}}</td>  
            <td>{{membre.addresse}}</td>  
            <td>{{membre.cin}}</td>  
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->